:root {
    --blackcolor: #124265;
}

.nav-link {
    margin-left: 20px;
    display: flex;
    justify-content: right;
    font-weight: 400;
    color: var(--blackcolor) !important;
    font-size: 16px !important;
}

.left-btn {
    color: white !important;
    padding: 4px 10px !important;
}

.nav-link:hover {
    color: #2487ce !important;
}

.left-btn:hover {
    opacity: .6;
    color: white !important;
}

.logo {
    margin-right: 160px !important;
    font-size: 30px;
    color: var(--blackcolor);
    font-weight: 100;
}

#hero {
    background:linear-gradient( to bottom, rgba(255, 255, 255, 0.7), rgba(235, 233, 233,0.7)), url(images/hero.jpg);
    width: 100%;
    min-height: 100vh;
    padding-bottom: 50px;


}




.herotext {
    text-align: center;
}

.herotext h1 {
    color: var(--blackcolor) !important;
    font-size: 50px !important;
    font-weight: 600;
    margin: 20px auto;
    padding-top: 20px !important;


}

.herotext p {
    font-size: 24px;
    color: var(--blackcolor);
    margin-bottom: 44px;
}

.herotext a {
    background-color: #2487ce;
    padding: 14px 40px;
    color: white;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    border-radius: 8px;

}

.cards {
    display: flex;
    gap: 20px;

}

.hero {
    position: absolute;
    margin-top: 60px;
}

.hero .icon-box {
    background-color: var(--surface-color);
    padding: 50px 30px;
    position: relative;

    box-shadow: 0 0 29px 0 rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.card {
    transition: all 1s ease;

}

.card-text {
    color: rgb(153, 143, 129) !important;
    font-size: 15px;
}

.card-body {
    color: var(--blackcolor);
    margin: 30px 30px 30px 0;

}

.card-body i {
    color: #2487ce;
    font-size: 40px;
    font-weight: 100;
    margin-top: 40px;
    margin-bottom: auto;
}

.card:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;

}


.card:hover .card-title {
    color: #2487ce;
}


.hh {
    text-align: center;
    color: var(--blackcolor);
    margin: 30px auto;
    font-size: 17px;

}

.hh>h2 {
    font-size: 50px !important;

}

#about i {
    color: #2487ce;
    font-size: 22px;

}


.digit {
    display: flex;
    justify-content: space-around;
    color: rgb(155, 131, 131);
    background-color: #f1f1f1;


}

.digit h2 {
    color: #2487ce !important;
    font-size: 40px;
}

.col img {
    width: 100%;
}

#hh {
    color: var(--blackcolor);
    font-size: 25px !important;
}

.thead {
    color: var(--blackcolor);

}

.testimonials img {
    height: 90px;
    width: 90px;
    border-radius: 100%;
    border: 10px solid white;
    margin-left: 20px;
    margin-top: -40px;
}

.testimonials .thead {
    font-size: 16px;
    margin-left: 20px;
}

.services h3 {
    font-size: 17px;
    color: var(--blackcolor);
    margin-top: 40px !important;
}

.cardss {
    width: 30%;
    text-align: center;
}

.services .cardss i {
    padding: 20px 20px;
    background-color: #f6f6f6;

    font-size: 28px;
    font-weight: 100;
    border-radius: 10px
}

.services .cardss:hover i {
    color: white !important;
    background: #2487ce;
}

.services .cardss:hover {
    cursor: pointer;
}

.testimonials i {
    color: #2487ce;
    font-size: 20px !important;
}

.client-img {
    filter: grayscale(100);
    opacity: .5;

}

.images img {
    width: 100px;
}


.client-img:hover {
    filter: none;
    opacity: 1;
    transform: scale(1.1);
    transition-duration: 1s;
}

.porthead h2 {
    color: var(--blackcolor);
}

.bluebtn:hover {
    opacity: .9;
    transition-duration: .2s;
    background-color: #7791a3;
}

.porttop {
    color: var(--blackcolor);
    text-decoration: none;
    padding: 20px;

}

.porttop:hover {
    color: #2487ce;
    cursor: pointer;
    transition-duration: .5s;
}

.box {
   
    font-size: 13px;
   align-items: center;
   display: flex;
   
   opacity: 0;
    padding: 1px 10px;

   width: 100%;
    transition: all .5s ease;
   color: var(--blackcolor);


}
.portcard img{
    width: 100%;
    height: 100%;
}


.portcard:hover .box {
    opacity: 1;
    background-color:white;
    transform: translateY(-60px);
    margin-bottom: 0;
  max-height: 80PX !important;
}
.teamimg{
    width: 100%;
    overflow: hidden;
}
.dolor{
    font-size: 40px;
}
.gray{
    color: rgb(204, 176, 176);
}
.pricebtn{
    font-size: 18px;
    text-decoration: none;
    padding: 8px 24px;
    border: 1.5px solid rgb(145, 136, 136);
    border-radius: 5px;
}
.pricebtn:hover{
    color: white !important;
    background-color: #2487ce;
    border: #2487ce solid 1.5px;
    transition-duration: 0.5s;
}
.priceblue{
    text-decoration: none;
    border: 1.5px solid white;
    font-size: 18px;
    padding: 8px 24px;
    font-weight: 300;
    border-radius: 5px;
    
}
.blue{
    margin: -25px 0 !important;
}
.drops{
    width: 90%;
   
   
}
iframe{
   width: 100%;
}
.fonts{
    font-size: 14px;
    margin-top: -9px;
}
.icons{
    border-radius: 7px;
    padding: 9px;
    margin-right: 20px;
    font-weight: 100;
    font-size: 19px !important;
}
  .buton{
   background-color: #2487ce;
   color: white;
   
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
    }
   .footicon i{
    border: 1.8px solid rgb(175, 164, 164);
    background-color: white;
    border-radius: 8px;
    padding: 7px;
    opacity: .9;
   }
   .footicon i:hover{
    background-color: #2487ce;
    color: white !important;
    transition-duration: 1s;
    cursor: pointer;
   }
   .fcards{
    max-width: 170px;
    margin-top: 20px;
   }
 



    